<!-- BEGINNING -->
<div>
<h1 class="dark">Big Title</h1>
<h2 class="grey">A story about size.</h2>

<p>There once was a man from Nantucket.</p>
</div>
<br><br>

<div>
<h2 class="dark">Medium Title</h2>
<h3 class="grey">When size changes.</h3>

<p>He had a big hole in his bucket.</p>
</div>
<br><br>

<div>
<h3 class="dark">Small Title</h3>
<h4 class="grey">Size isn't everything.</h4>

<p>Nothing else rhymes, so fuckit</p>
</div>
<br><br>
<!-- END -->
